name: Download and Upload Backdoor-App

on:
  workflow_dispatch: # Allows manual triggering of the workflow

jobs:
  sync-repo:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Download ZIP file
      run: |
        curl -L -o backdoor-app-main.zip "https://github.com/Main-app-backdoor/Main-app/archive/refs/heads/main.zip"

    - name: Unzip the file
      run: |
        unzip -q backdoor-app-main.zip
        mv Main-app-main/* .  # Keep this line unchanged
        rm -rf Main-app-main backdoor-app-main.zip

    - name: List contents of the main directory
      run: |
        ls -la

    - name: Force add all changes
      run: |
        git config --global user.email "you@example.com"
        git config --global user.name "Your Name"
        git add -A
        git commit -m "Sync Backdoor-App files from source repo" || echo "No changes to commit"

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v5
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        commit-message: "Sync Backdoor-App files from source repo"
        branch: "sync-backdoor-app"
        delete-branch: true
        title: "Sync Backdoor-App files from source repo"
        body: |
          This PR synchronizes the Backdoor-App files from the source repository.
          Changes include downloading and extracting the latest ZIP from Backdoor-app repo.
        labels: "automated pr"
